# Entornos virtuales
venv/
.venv/

# Caché de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDEs / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos locales de configuración
*.local
.env

# Node / frontend-react
node_modules/
dist/